[2021-03-10 07:33] boucadair opened #3 "Terminology and Acronyms: Consistent usage (Stéphane)"
[code]

[2021-03-10 07:35] boucadair opened #4 "Which level of details to include in the document"
Also, I have the feeling that the draft is quite vague on many
    aspects, and it mixes architectural issues with details which are very
    interesting (such as the discussion about sizes of cryptographic keys
    and signatures) but may be not for an "architecture" document. Also,
    I'm glad there are rationales for some decisions (why HHIT and not HIT
    or CGA) but they should be more sepa

[2021-06-07 14:57] mglt opened #6 "nits"
<mglt>
1.1.  Overview of Unmanned Aircraft System (UAS) Remote ID (RID) and
      Standardization

"""
it is clearly stated that Automatic Dependent Surveillance Broadcast (ADS-B) Out and transponders can not be ...
"""

I am wondering if the sentence here is correct - especially the "Out". I also believe the text should be a bit clarified. I would suggest some text to clarify what this means in r

[2021-06-07 14:57] mglt opened #7 "clarification in Section 1.2.1"
1.2.1.  Broadcast RID

"""
Internet (or other Wide
   Area Network) connectivity is only needed for UAS registry
   information lookup by Observers using the locally directly received
   UAS RID as a key.  Broadcast RID should be functionally usable in
   situations with no Internet connectivity.
"""

I am wondering why we have "locally received". I have the impression this could be removed. At le

[2021-06-07 14:58] mglt opened #8 "figure description"
1.2.2.  Network RID
"""
   specifying airspace volumes of interest.  Network RID depends upon
   connectivity, in several segments, via the Internet, from the UAS to
   the Observer.
"""

I believe that listing the segments may be helpful. In particular, I have the impression that the UAS is the (UA + GCS) which makes Net-RID being transmitted by the GCS or the UA. If that is correct, i believe th

[2021-06-07 14:59] mglt opened #9 "text clarification"
1.2.2.  Network RID
"""
   Command and Control (C2) must flow from the GCS to the UA via some
   path, currently (in the year of 2021) typically a direct RF link, but
   with increasing BVLOS operations expected often to be wireless links
"""
BVLOS  needs to be expanded. It is also unclear to me what the difference is beween RF and wireless link. I tend to see the RF as a wireless link. I have the

[2021-06-07 14:59] mglt opened #10 "text clarification in Section 1.2.2"
1.2.2.  Network RID
"""
   at either end with the Internet between.  For all, but the simplest
   hobby aircraft, telemetry (at least position and heading) flows from
   the UA to the GCS via some path, typically the reverse of the C2
   path.  Thus, RID information pertaining to both the GCS and the UA
   can be sent, by whichever has Internet connectivity, to the Net-RID
   SP, typically the USS

[2021-06-07 15:00] mglt opened #11 "potential text clarification"
1.2.2.  Network RID
"""
[F3411-19] prescribes the protocols only between the Net-RID SP, Net-
RID DP, and the Discovery and Synchronization Service (DSS).  DRIP
may also address standardization of protocols between the UA and GCS,
between the UAS and the Net-RID SP, and/or between the Net-RID DP and
Observer devices.
"""

Just to makes sure I understand correctly, prescribes means they specify the

[2021-06-07 15:00] mglt opened #12 "text clarification in Section 1.3"
1.3.  Overview of USS Interoperability
"""
about observed UA to a USS.  USS exchange information via a Discovery
and Synchronization Service (DSS) so all USS collectively have
knowledge about all activities in a 4D airspace.
"""

I am wondering if this is all USSes or USSs or USS. If there is anything to change, please apply the change to the full document.

[2021-06-07 15:01] mglt opened #13 "clarification in Section 1.4"
1.4.  Overview of DRIP Architecture

"""
This document outlines the UAS RID architecture into which DRIP must
fit and the architecture for DRIP itself.  This includes presenting

"""
It is not entirely clear to me what "DRIP must fit" means. I am inclined to say that "into which DRIP must fit and the architecture for DRIP itself" can be removed.

[2021-06-07 15:01] mglt opened #14 "clarification in Section 4"
.4.  Overview of DRIP Architecture

"""
      -  Mechanisms to leverage Domain Name System (DNS: [RFC1034]),
         Extensible Provisioning Protocol (EPP [RFC5731]) and
         Registration Data Access Protocol (RDAP) ([RFC7482]) to provide
         for private (Section 5.2) and public (Section 5.1) information
         registry.

"""

I think that mentioning the DNS ecosystem  without any refe

[2021-06-07 15:02] mglt opened #15 "clarification on Section 3.3"
3.3.  Claims, Assertions, Attestations, and Certificates

"""
   This is due to the term "certificate" having significant
   technological and legal baggage associated with it, specifically
   around X.509 certificates.  These types of certificates and Public
   Key Infrastructure invoke more legal and public policy considerations
   than probably any other electronic communication sector.  It eme

[2021-06-07 15:02] mglt opened #16 "clarification section 4"
4.  HHIT for DRIP Entity Identifier
"""
   use as the UAS Remote ID.  HHITs self-attest to the included explicit
   hierarchy that provides Registrar discovery for 3rd-party ID
"""

The following sentence is a bit cryptic at least to me. I would recommend to clarify it.

[2021-06-07 15:03] mglt opened #17 "clarification section 4.1"
4.1.  UAS Remote Identifiers Problem Space

"""
   A DRIP entity identifier needs to be "Trustworthy".  This means that
   within the framework of the RID messages, an Observer can establish
   that the DRIP identifier used does uniquely belong to the UAS.  That
"""

Maybe, it woudl be clearer top say  s/used does uniquely belong/uniquely belongs/.

[2021-06-07 15:03] mglt opened #18 "clarification section 4.1"
4.1.  UAS Remote Identifiers Problem Space

"""
   The data communication of using Broadcast RID faces extreme
   challenges due to the limitation of the demanding support for

"""
I think that removing "The data communication of using" makes the message clearer.

"""
   message.  The Basic RID message has a maximum payload of 25 bytes and
   the maximum size allocated by ASTM for the RID is 20 by

[2021-06-07 15:03] mglt opened #19 "clarification section 4.1"
4.1.  UAS Remote Identifiers Problem Space

"""
   An example of a technology that will fit within these limitations is
   an enhancement of the Host Identity Tag (HIT) of HIPv2 [RFC7401]
   using Hierarchical HITs (HHITs) for UAS RID is outlined in HHIT based
   UAS RID [I-D.ietf-drip-rid].  As PKI with X.509 is being used in
"""

I have the impression the sentence is incorrectly constructed. Is

[2021-06-07 15:04] mglt opened #20 "clarification section 4.1"
4.1.  UAS Remote Identifiers Problem Space

I understand a binding/proxy/translation is needed between the HHIT and X509. If that is correct, it seems that that needed to be defined by the DRIP WG. If we do not have anty document addressing this issue, we need to clarify whether that is something we need or not and eventually reword the text "must be devised".

[2021-06-07 15:04] mglt opened #21 "clarification section 4.1"
4.1.  UAS Remote Identifiers Problem Space

"""
   A self-attestation of the HHIT RID can be done in as little as 84
   bytes, by avoiding an explicit encoding technology like ASN.1 or
   Concise Binary Object Representation (CBOR [RFC8949]).  This
   compressed attestation consists of only the HHIT, a timestamp, and
   the EdDSA signature on them.  The HHIT prefix and suiteID provide
"""

If we a

[2021-06-07 15:04] mglt opened #22 "clarification section 4.1"
4.1.  UAS Remote Identifiers Problem Space

"""
   crypto agility and implicit encoding rules.  Similarly, a self-
   attestation of the Hierarchical registration of the RID (an
   attestation of a RID third-party registration "certificate") can be
   done in 200 bytes.  Both these are detailed in UAS RID
   [I-D.ietf-drip-rid].
"""

I am wondering if the number 200 is related to the allocated aut

[2021-06-07 15:05] mglt opened #23 "clarification section 4.2"
4.2.  HIT as A Trustworthy DRIP Entity Identifier

"""
The proof of ID ownership (verifiable
   attestation, versus mere claim) comes from signing this cryptographic
   ID with the associated private key.  It is statistically hard for
   another entity to create a public key that would generate (spoof) the
   ID.
"""

"comes from" seems to me very vague. It seems to me the two sentences can be com

[2021-06-07 15:05] mglt opened #24 "nits section 4.2"
4.2.  HIT as A Trustworthy DRIP Entity Identifier

"""
 HITs are so designed; they are statistically unique through the
"""

Maybe a simpler formulation might be preferred.

s/HITs are so designed; they are statistically u/HITs are statistically u/

[2021-06-07 15:05] mglt opened #25 "clarification section 4.2"
4.2.  HIT as A Trustworthy DRIP Entity Identifier

"""
   cryptographic hash feature of second-preimage resistance.  The
   cryptographically-bound addition of the Hierarchy and an HHIT
   registration process (e.g. based on Extensible Provisioning Protocol,
   [RFC5730]) provide complete, global HHIT uniqueness.  This

"""

It is unclear to me why the registration process provides the uniqueness.

[2021-06-07 15:06] mglt opened #26 "clarification section 4.3"
4.3.  HHIT for DRIP Identifier Registration and Lookup

"""
   Remote ID needs a deterministic lookup mechanism that rapidly
   provides actionable information about the identified UA.  Given the
   size constraints imposed by the Bluetooth 4 broadcast media, the
   Remote ID itself needs to be the inquiry input into the lookup.
"""

I believe the text can be simplified. When we mention "need", it

[2021-06-07 15:06] mglt opened #27 "clarification section 4.3"
4.3.  HHIT for DRIP Identifier Registration and Lookup

"""
An
   HHIT DRIP identifier contains cryptographically embedded registration
   information.  This HHIT registration hierarchy, along with the IPv6
   prefix, is trustable and sufficient information that can be used to
   perform such a lookup.  Additionally, the IPv6 prefix can enhance the
   HHITs use beyond the basic Remote ID function

[2021-06-07 15:07] mglt opened #28 "section clarification section 4.3"
4.3.  HHIT for DRIP Identifier Registration and Lookup

I am reading the section on lookup and registration, but it seems I am missing how the look up is performed.
Regarding the registration there are some line mentioning that registries are involved, but that seems to me too few information to justify the section.
I am wondering if I am not missing anything.

[2021-06-25 22:47] ShuaiZhao commented on #3
@boucadair   I would believe all the acronyms have been expanded in the first use since -13. Is there anything we have missed?  If not, we can close this issue.

[2021-06-25 22:48] ShuaiZhao commented on #4
@boucadair I believe we have achieved agreement during IETF 110 that the current format of DRIP Architecture is acceptable. Is there anything I need to address?

[2021-06-25 22:57] ShuaiZhao commented on #6
@mglt  The ADS-B out is one of the technology for general aviation which is used to broadcast aircraft's en route information such as aircraft identifier. The concept itself is well-known by the industry and we also have an Annex for it.  If you are confused with the "out", we can simply remove it and use "ADS-B". Since ADS-B is not supported by FAA for drones which will include ADS-B in and out.

[2021-06-25 23:02] ShuaiZhao commented on #7
@mglt  that was the original wording by Stu (unfortunately he is not in github).

We can remove it. "Locally", in my understanding, is the RID received from BRID, which then being used for UAS registry searching.

[2021-06-25 23:11] ShuaiZhao commented on #8
@mglt   This is one of those things, at least from Bob's vision, DRIP can solve. The link usage between UA and GCS, between UAS and SP and DP and observers.

There are texts below addressing your concern:

"
{{F3411-19}} prescribes the protocols only between the Net-RID SP, Net-RID DP, and the Discovery and Synchronization Service (DSS). DRIP may also address standardization of protocols between t

[2021-06-25 23:26] ShuaiZhao commented on #9
I will expand BVLOS to "beyond Visual Line of Sight (BVLOS)"

As I explained above, C2 only works with GCS with an internet connection for Network RID.

[2021-06-26 00:37] ShuaiZhao commented on #10
@mglt  I actually agree there is no need to be very specific about what hobby aircraft may/not be in the picture.

i propose to remove the "For all, but the simplest hobby aircraft"

[2021-06-26 00:46] ShuaiZhao commented on #11
@mglt   My reading from the F3411-19 is that those elements need some protocol to support communication. FAA may use IETF existing protocols to address those issues.

@boucadair should we say " DRIP can address standardization of protocols.."??

[2021-06-26 00:51] ShuaiZhao commented on #12
@mglt  F3411-19 uses "**USSs**" when there are more than one USS. I will do the update in the next revision.

Consider this is closed.

[2021-06-26 00:51] #12 closed

[2021-06-26 00:53] ShuaiZhao commented on #13
@mglt   seems fine to me, will reflect in -14. Consider this is closed.

[2021-06-26 00:53] #13 closed

[2021-06-26 00:58] ShuaiZhao commented on #14
@mglt  Updated to the follolwing:

[code]

Consider this is closed.

[2021-06-26 00:58] #14 closed

[2021-06-26 01:06] ShuaiZhao commented on #15
@mglt  Either I will leave this to Bob or see the following proposed Text:

[code]

[2021-06-26 01:16] ShuaiZhao commented on #16
@mglt   See the following proposed new text:

[code]

@ Bob, any suggestions?

[2021-06-26 01:18] ShuaiZhao commented on #17
@mglt  sounds fine to me. Updated in -14. consider this is closed

[2021-06-26 01:18] #17 closed

[2021-06-26 01:27] ShuaiZhao commented on #18
@mglt   How about we say "The Broadcast RID data exchange faces extreme challenges due to...." or you prefer your suggested version?

@mglt  F3411-19 defined Basic ID has 20 bytes UAS ID message + 1 byte header for UA ID info + 3 bytes reserved for others play around.  Are those the details you suggest we should add as background info?

[2021-06-26 01:30] ShuaiZhao commented on #19
an enhancement of the Host Identity Tag (HIT) of HIPv2 [RFC7401]
using Hierarchical HITs (HHITs) for UAS RID [I-D.ietf-drip-rid]. As PKI with X.509 is being used in

@mglt   this is much better. updated in -14. Consider this is closed

[2021-06-26 01:30] #19 closed

[2021-06-26 01:33] ShuaiZhao commented on #20
@mglt  I dont think we have defined such documents/method to bind HHIT and X.509. @Bob can clarify.

per @evyncke suggestion, we should not use normative wording in the informational draft anyway. Can I propose to use "could be devised"?

[2021-06-26 01:49] ShuaiZhao commented on #21
@mglt I was wondering if this is necessary. As you mentioned, details are in [I-D.ietf-drip-rid]. Can we simply refer to UAS RID draft?

[2021-06-26 02:00] ShuaiZhao commented on #22
@mglt  Yes it is , if I am not mistaken, See authentication draft https://www.ietf.org/archive/id/draft-ietf-drip-auth-01.txt
@kc2rxo may help with this section.

@mglt I know we may have provided some date point, but the detailed solutions are spread into multiple normative drafts. By listing more data points and explanations why we come out with such data may sound even more solution-oriented. B

[2021-06-26 04:22] ShuaiZhao commented on #23
@mglt I would suggest just reword to the following:
[code]

But yours is also good. So help make a choice. :)

[2021-06-26 04:24] ShuaiZhao commented on #24
@mglt i have updated to
[code]

Consider this is closed unless you have a better suggestion.. Thanks,

[2021-06-26 04:24] #24 closed

[2021-06-26 04:25] ShuaiZhao commented on #25
@Bob, this is where we need your expertise...

[2021-06-26 04:27] ShuaiZhao commented on #26
@mglt I can see there is a clear requirement from -req: section 4.4. [https://datatracker.ietf.org/doc/html/draft-ietf-drip-reqs-15#section-4.4](url)

you had similar comments in #28 .  @Bob to give a better text.  Then #26 #27 #28 can be closed together

[2021-06-26 04:37] ShuaiZhao commented on #27
@mglt, I can integrate this into section 4.2.
updated text for 4.3 will be following:

[code]

the new Section 4.2, after integrating with text from original section 4.3

[code]

Please let me know if this is acceptable.

[2021-06-26 04:42] ShuaiZhao commented on #28
@mglt  updated section 4.3 is proposed #27 .

And I agree, Lookup may need a little info. I am asking @Bob now....

[2021-06-28 00:07] ShuaiZhao opened #29 "merge section 2 and 3 (from review of -13)"
From Stu:

Let's merge these, as we did in -reqs, with the current 2 becoming 2.1.

The only abbreviations listed here that are not in the glossary in
-reqs are: EdDSA, HHIT, HIT, HIP, RID (which stand-alone, outside
"UAS RID", should be used with care); should we add these to the
glossary in -reqs and delete them here, or leave well enough alone?

Also, -reqs says
   [RFC4949] provides a glossary

[2021-06-28 00:12] ShuaiZhao opened #30 "list specific requirement numbers in section 4.1 ( UAS Remote Identifiers Problem Space, version -13)"
From Stu:

-arch Section 4.1

This section does 2 things: recapitulate some of what is in -reqs;
and begin to introduce/justify HHITs. I would be much happier if it
cited -reqs generally for the motivation, then one by one went through
its specific numbered requirements and showed how HHITs, together with
private and public registries (inc. DNS) satisfy them.

[2021-06-28 00:21] ShuaiZhao opened #31 "merge text from section 4.4 to Section 4.2, with proposed text (revision -13)"
From Stu:

-arch Section 4.4

should be merged wih Section 4.2

[code]

TO

[code]

[2021-06-28 00:28] ShuaiZhao opened #32 "section 5: More DRIP architecture details should be elaborated here."
From Stu:

-arch Section 5

I disagree strongly with removal of definitive specifications here.

It is not just that "UAS registries can hold both public and private UAS
information resulting from the DRIP identifier registration process";
they MUST hold such information, or they aren't registries at all, and
don't satisfy regulator or F3411 UAS RID, much less DRIP, requirements!

It is not just t

[2021-06-28 00:43] ShuaiZhao opened #33 "section 7 IANA consideration, move Original Section 7 to section 9 as “Privacy & Transparency Considerations""
Fro Stu:

-arch Sections 7 & 8

Let's insert IANA Considerations (null?) as Section 7,
leave Security Considerations as Section 8, rename
"Privacy for Broadcast PII" -> "Privacy & Transparency Considerations"
and move it to Section 9 (incrementing subsequent section numbers
accordingly), to make it parallel -reqs for ease of cross-reference

[2021-06-28 00:49] ShuaiZhao opened #34 "Reference: check all reference"
from Stu:

check all links's accessbility

[2021-06-28 05:37] boucadair commented on #3
Hi Shuai,

(ccing the wg mailing list)

I think we can close the issue, but I let Stéphane comment.

Thank you.

Cheers,
Med

De : Shuai Zhao ***@***.***
Envoyé : samedi 26 juin 2021 00:48
À : ietf-wg-drip/draft-ietf-drip-arch ***@***.***>
Cc : BOUCADAIR Mohamed INNOV/NET ***@***.***>; Mention ***@***.***>
Objet : Re: [ietf-wg-drip/draft-ietf-drip-arch] Terminology and Acronyms: Consistent usage (

[2021-06-28 05:41] boucadair commented on #4
Re-,

Agree. I sent a note to the list last week with a reminder of the agreement.

Cheers,
Med

De : Shuai Zhao ***@***.***
Envoyé : samedi 26 juin 2021 00:49
À : ietf-wg-drip/draft-ietf-drip-arch ***@***.***>
Cc : BOUCADAIR Mohamed INNOV/NET ***@***.***>; Mention ***@***.***>
Objet : Re: [ietf-wg-drip/draft-ietf-drip-arch] Which level of details to include in the document (#4)

@boucadair<https:

[2021-06-28 05:55] boucadair commented on #6
Re-,

Actually, this was a comment from Daniel (and BTW, all other pending issues were reported by him).

The current wording is OK for me, but I let Daniel further comment.

Cheers,
Med

De : Shuai Zhao ***@***.***
Envoyé : samedi 26 juin 2021 00:57
À : ietf-wg-drip/draft-ietf-drip-arch ***@***.***>
Cc : BOUCADAIR Mohamed INNOV/NET ***@***.***>; Mention ***@***.***>
Objet : Re: [ietf-wg-drip/draf

[2021-06-28 06:10] boucadair commented on #8
Re-,

This was a comment from Daniel, which I share BTW.

I’m afraid that the excerpt you cited below (especially, “DRIP may also address standardization of protocols …”) raises another issue which is: how this is planned to be solved by DRIP? I guess you had in mind things such as cs-rid.

As this is an architectural document, I’d expect us to be more explicit. Having flow examples to illustrate

[2021-06-28 06:38] boucadair commented on #20
Shuai,

This is a good comment from Daniel given that interoperating with other systems may break. I don’t think that changing must/could is appropriate here.

Also, please note that “must” is not a normative language, but these listed in Section 2 are:

==
2.  Conventions

   The key words "MUST", "MUST NOT", "REQUIRED", "SHALL", "SHALL NOT",
   "SHOULD", "SHOULD NOT", "RECOMMENDED", "NOT RECOMME

[2021-06-28 13:42] boucadair commented on #20
Stu Said:

We need ASAP, in some document, to fully specify, with normative
language, in a manner enabling interoperability and satisfying the
essential requirements enumerated in the requirements document, _an_
architecture for DRIP, or this whole DRIP exercise will have been a
waste, as manufacturers will develop ASIC implementations of UAS RID as
soon as ASTM ballots on the revision to F3411.

[2021-06-28 15:12] mglt commented on #6
Thanks for the explanation. I was raising this issue as I wanted to clarify "Out" was not a nit. I do not have the text in mind, but if that is detailed in the annex feel free to add a ref - if that is helpful.

[2021-06-28 15:12] #6 closed

[2021-06-28 15:12] #3 closed

[2021-06-28 15:13] mglt commented on #3
I think the issue is not actionable, and other issues are addressing this special comment.

[2021-06-28 15:14] mglt commented on #4
I think other comments are implementing this issue.

[2021-06-28 15:14] #4 closed

[2021-06-28 15:16] mglt commented on #7
agree. I let you close the issue when implemented.

[2021-06-28 15:26] mglt commented on #8
I believe the text needs to be very explicit about the basic use case we are addressing. That the usage or RID might be extended in the future to other interfaces is left for future work. The architecture document should not be vague in order to remain compatible with hypothetical cases, it should clarify the basic use of RID we are focused on. Eventually, we can mention that in the future, the us

[2021-06-28 15:36] mglt commented on #9
"""but
with increasing BVLOS operations expected often to be wireless links
"""

We need to explain the difference with wireless and RF link clearly. Probably explicitly listing the "either end" would be clarifying also.

Again, the architecture document should be primarily clarifying for the basic usage - of today. How it might be extended and used in the future is informative - even though we no

[2021-06-28 15:37] mglt commented on #10
I agree.

[2021-06-28 15:41] mglt commented on #11
My impression is that it might be better to say DRIP does xxxx. In the future DRIP may do yyy. The latter being informative.

[2021-06-28 15:42] mglt commented on #15
This works for me.

[2021-06-28 16:41] mglt commented on #16
responding a bit out of context. It is a bit unclear to me what the  registrar discovery service is. If that is the registrar indicated by the HHIT it seems to me clarifying to mention it explicitly. Overall, the mechanisms involved seems to me sufficiently simple so their description could replace an obscure function that requires a deep understanding of the solution - HHIT in our case. The goal

[2021-06-28 16:51] mglt commented on #18
The modified sentence is fine to me.

Your wording is clarifying. I understand the F3411-19 defines the Basic RID which is composed of a 20 byte UAS ID message field, a 1 byte UA ID info field and an additional 3 bytes (unspecified ?) or left for additional usages.
I think that is sufficient, I am however wondering why the size of the Basic RID is mentioned to be a maximum size of 25 bytes

[2021-06-28 16:56] mglt commented on #20
I Agree with med's comments.

[2021-06-28 17:00] mglt commented on #21
sure. If we want to say that our certificate are compacted, we can also mention explicitly the reason which is that very little information are provided (HHIT, timestamp and signature).

[2021-06-28 17:12] mglt commented on #22
I agree the numbers are not important in themselves. What is important is to show that the solution needs to fill some specific requirements here the 201 limitations, that traditional solution are unable to do. It is mostly to describe the motivation.
Ensuring we fill the requirement needs to be done today but also in the long term. More especially, with th current text I have the impression it wo

[2021-06-28 17:19] mglt commented on #23
I am fine either way.

I would add something like: The association between the ID and the private key is ensured by cryptographically binding the public key with the ID, more specifically the ID results from the hash of the public key.

I think this principle explains a lot of the concepts introduced in the document, so it needs to be clearly understood by the reader. ;-)  We should also only expl

[2021-06-28 17:20] mglt commented on #26
agree.

[2021-06-28 17:28] mglt commented on #27
It is unclear to me what section 4.3 says more regarding to registration and lookup than the following lines:

 Therefore, a DRIP identifier is represented as a HHIT and registered with the
   Private Information Registry (More details in Section 5.2) identified
   in its hierarchy fields.

In which case, having an section to specify the indirection to section 5.2 is questionable. It seems to me t

[2021-06-28 17:38] mglt commented on #29
I understand that the concern is about merging sections of the terminology.
3.1.  Additional Definitions

   This document uses terms defined in [I-D.ietf-drip-reqs].

3.2.  Abbreviations

   ADS-B:      Automatic Dependent Surveillance Broadcast

   DSS:        Discovery & Synchronization Service

   EdDSA:      Edwards-Curve Digital Signature Algorith
..
 into

3.1.  Abbreviations

   This docum

[2021-06-28 17:50] mglt commented on #31
I suspect that the current section repeats a lot of information mention into section 4.2. -- assuming that self attestation has already been explained. Overall my comment is that 4.2 needs to be rewritten as a whole to ensure coherence and avoid different part of the text to repeat themselves.

HHIT as a Cryptographic Identifier
The only (known to the authors at the time of this writing) extant
ty

[2021-06-28 23:39] cardsw commented on #29
The WG previously agreed, and has repeatedly sustained the decision,
that DRIP terms would be defined in -reqs, even if not used in -reqs, if
expected to be used in other DRIP docs.

In accordance with that, -reqs 2.2 states

If a term will be used _only_ in -arch, then defining it only in -arch
makes sense; but if we also expect to use it in other DRIP docs, such as
Bob's -uas-rid, then we should

[2021-06-29 18:55] cardsw commented on #7
I am in Github now. That was language I inserted to address confusion. It means what Shuai said above: received via B-RID; then can be used to look things up in registries, if connectivity is available. The point is that obtaining the UAS ID does not depend upon Internet connectivity, only local direct RF broadcast, but that _using_ the UAS ID to look up other information does require some form of

[2021-06-29 18:57] cardsw commented on #8
The segments are as Daniel described them. The new Figure 4 created by Adam may help.

[2021-06-29 19:03] cardsw commented on #9
The remote pilot uses the GCS to exercise essential Command & Control (C2) of the UA via some data path. That may be a direct RF (aka wireless) link. It may be a path through the Internet. In the latter case, both the GCS and the UA have Internet connectivity, so either could use it to send Network RID to the NetRID-SP. In the former case, one end or the other (typically the GCS) would need not on

[2021-06-29 19:05] cardsw commented on #10
It should not be assumed that all UAS have a flow of telemetry from the UA to the GCS. Some simple hobby aircraft don't. If the link is not there to support telemetry, it cannot be re-used to support Network RID.

[2021-06-29 19:10] cardsw commented on #11
Neither ASTM nor FAA is leaving it specifically to IETF to define those protocols, but leaving them open to UAS manufacturers and USS operators to do whatever they like. Bob would like DRIP to standardize some of those protocols. Our doing so would add value but is not essential to the mission of DRIP, thus "also".

[2021-06-29 19:14] cardsw commented on #15
I would be happy to drop the X.509 history lesson. ;-) We just need to define what we mean in DRIP by "claim", "assertion", "attestation" and "certificate", clarify that our DRIP compact certs are not X.509, but admit that we will need in some cases to establish verifiable strong bindings between our compact certs and corresponding X.509 certs. I believe that is also addressed in another Github is

[2021-06-29 19:19] cardsw commented on #34
We need not just to check that links are live, but that references contain correct titles etc.

[2021-06-29 19:51] cardsw commented on #16
General: We don't have "various proposals". We have one: HHITs, DNS, EPP, RDAP. We barely have time to affect the world by standardizing that one. The world will literally fly past us (within the next 6 months) if we continue to waffle. Specific: a HHIT contains a numerical identifier of the registry in which it should be found; DNS enables that to be resolved to various other info; the registry I

[2021-06-29 20:02] cardsw commented on #28
RFC7484, cited in -arch, explains how to use DNS to find the definitive RDAP server for a given domain. A numerical representation of the domain is embedded in the HHIT. More details on this are in Adam's embryonic registries draft.

[2021-06-29 20:10] cardsw commented on #26
I agree that in -arch we should not recapitulate requirements, but rather cite specific numbered requirements from -reqs and _specify how the architecture will enable satisfying them_.

[2021-06-29 20:16] cardsw commented on #25
If a newly proposed HHIT collides with a previously registered HHIT, the registry rejects it: refuses to sign an attestation or cert. The registry can easily tell it is a collision (rather than a redundant registration of the same HHIT) by looking at the public key (HI) provided as part of the registration request, and checking the signature made with the corresponding private key. I agree we coul

[2021-06-29 20:19] cardsw commented on #23
I agree and 4.2 is the right place.

[2021-06-29 20:33] cardsw commented on #18
How long the payload is depends on which of many nested layers you are considering. The most commonly cited length of ASTM F3411 Broadcast RID message payloads is 25 bytes, including a 4 bit Message Type and 4 bit Version. The Basic ID message has a 4 bit ID Type, 4 bit UA Type, 20 byte UAS ID and 3 reserved bytes. F3411 Authentication messages can be "paged" (segmented), for up to 201 bytes of au

[2021-06-29 20:41] cardsw commented on #20
ASTM, FAA, NASA and USS developers have all committed to using X.509 in UTM, but X.509 won't fit in UAS RID, thus DRIP defines compact attestations that prove HHITs are in the registries they embed. Binding X.509 certs to DRIP attestations will at some point be necessary as UTM becomes real, but is not essential for pure UAS RID, the initial focus of the DRIP WG. A later DRIP doc can do.

[2021-06-29 20:43] cardsw commented on #21
Agreed, and that modern crypto is used to keep the signature short.

[2021-06-29 21:03] cardsw commented on #22
Indeed the 201 bytes comes from ASTM F3411: 17 payload bytes in the first page of a paged Authentication Message + 23 payload bytes in each of up to 8 more pages. From that 201, we lose 1 byte to identify the Specific Authentication Method (SAM). We will apply to ICAO (deputized by ASTM for an IANA-like function) for several SAM codes for different DRIP methods. Thus we have 200 at most, and that

[2021-07-09 16:42] ShuaiZhao opened #35 "Stu's original comments from mailing list"
-arch Abstract

"DRIP requirements" -> "DRIP Requirements";

"satisfies" or "can satisfy" or "complies with" or "is consistent with"
or "supports satisfaction of"? as -arch does not cite specific numbered
requirements, we cannot be sure it satisfies them

[code]

==

-arch Introduction

"DRIP requirements" -> "DRIP Requirements" when referring to the
specific document

"adheres to" language could

[2021-07-09 16:48] #35 closed

[2021-07-09 17:07] ShuaiZhao commented on #7
I removed "locally" with the understanding that everyone is on the same page.
Consider this closed.
`Internet (or other Wide Area Network) connectivity is only needed for UAS registry information lookup by Observers **using the directly received UAS ID**.  Broadcast RID should be functionally usable in situations with no Internet connectivity.`

[2021-07-09 17:08] #7 closed

[2021-07-09 17:25] ShuaiZhao commented on #8
added the following editor-note, to be discussed during IETF 111

[code]

[2021-07-09 17:50] ShuaiZhao commented on #9
added editor-note 2

[code]

[2021-07-09 18:01] ShuaiZhao commented on #10
For all but the simplest hobby aircraft, telemetry (at least position and heading) flows from the UA to the GCS via some path, typically the reverse of the C2 path. Thus, RID information pertaining to both the GCS and the UA can be sent, by whichever has Internet connectivity, to the Net-RID SP, typically the USS managing the UAS operation.

`> Editor-note 3:  Does all UAS support telemetry? expla

[2021-07-09 18:06] ShuaiZhao commented on #11
{{F3411-19}} prescribes the protocols only between the Net-RID SP, Net-RID DP, and the Discovery and Synchronization Service (DSS). DRIP may also address standardization of protocols between the UA and GCS, between the UAS and the Net-RID SP, and/or between the Net-RID DP and Observer devices.

`> Editor-note 4:  "DRIP may also..." Specify what protocol DRIP can or will standardize. `

[2021-07-09 18:11] ShuaiZhao commented on #15
in -14, I implemented as following:

`
This section introduces the terms "Claims", "Assertions", "Attestations", and "Certificates" as used in DRIP. DRIP certificate has a different context compared with security certificates and Public Key Infrastructure used in X.509.

Editor-note 5: To be confirmed

`
I will leave it open for Bob to review.

[2021-07-09 18:18] ShuaiZhao commented on #16
implemented at following:

A HHIT, together with the Host Identity (HI) from which it is partly derived, self-attests to its included explicit registration hierarchy, providing Registrar discovery for **_a 3rd-party who is looking for ID attestation retrieves the necessary information to the registrar via a DNS request {{HHIT}}._**

[2021-07-09 18:25] ShuaiZhao commented on #18
`> Editor-note 7: To be more specific about the RID message header and payload structure, such as 1) list different type of BRID messages defined in ASTM F3411, 2) how many bytes for each filed.`

[2021-07-09 18:35] ShuaiZhao commented on #20
`> Editor-note 8: is there a need to explain the how binding/proxy/translation between the HHIT and X509? `

[2021-07-09 18:38] ShuaiZhao commented on #21
A self-attestation of the HHIT RID can be done in as little as 84 bytes, by avoiding an explicit encoding technology like ASN.1 or Concise Binary Object Representation (CBOR {{RFC8949}}). This compressed attestation consists of only the HHIT, a timestamp, and the EdDSA signature on them.

`> Editor-note 9: to be more specific regarding how HHIT can only use as little as 84 bytes to address the cry

[2021-07-09 18:41] ShuaiZhao commented on #22
The HHIT prefix and suiteID provide crypto agility and implicit encoding rules. Similarly, a self-attestation of the Hierarchical registration of the RID (an attestation of a RID third-party registration "certificate") can be done in 200 bytes.  Both these are detailed in UAS RID {{I-D.ietf-drip-rid}}.
`

[2021-07-09 18:46] ShuaiZhao commented on #23
implemented as follows:

`The proof of ID ownership (verifiable attestation, versus mere claim) is guaranteed by signing this cryptographic ID with the associated private key. The association between the ID and the private key is ensured by cryptographically binding the public key with the ID, more specifically the ID results from the hash of the public key. It is statistically hard for another en

[2021-07-09 18:48] #23 closed

[2021-07-09 18:52] ShuaiZhao commented on #25
`> Editor-note 11: Explain how HIT itself and HHIT registry address naming collision. `

[2021-07-09 19:39] ShuaiZhao commented on #26
add note 12 to address #26 #27 and #28

4.3.  HHIT for DRIP Identifier Registration and Lookup
`

`

[2021-07-09 19:49] ShuaiZhao commented on #29
3.  Definitions and Abbreviations

[code]

[2021-07-09 19:52] ShuaiZhao commented on #30
[code]

[2021-07-09 19:55] ShuaiZhao commented on #31
[code]

[2021-07-09 20:04] ShuaiZhao commented on #32
@cardsw How do you propose we move forward? You have made many strong points,  I agree to the point where we should elaborate about what DRIP architecture really is. But I don't see how should we make changes just from your comments.  We can rewrite this section based on what you think is right.

[2021-07-09 20:05] ShuaiZhao commented on #33
@cardsw changes are made based on your comments in -14. Close this one now.

[2021-07-09 20:05] #33 closed

[2021-07-13 17:04] mglt commented on #10
i propose to remove the "For all, but the simplest hobby aircraft". If not it should be clearly justified so the reader understands why we are making such distinction.

[2021-07-13 17:08] mglt commented on #11
A clear distinction should be made between what needs to be standardize and what MAY be standardize. The need part should consider the minimal mandatory protocols for interoperability . Other will be nice to have with less than 200% chance of being proceeded in the WG.

[2021-07-13 17:09] mglt commented on #15
sounds good to me.

[2021-07-13 19:32] mglt commented on #16
The sentence can be clarified and probably using a more direct style would help.
"HHIT self attests". Since the terminology defines attestation I think we should stick closer to it. Could the Registrar be considered as a claim as well as the HI itself ?
As I understand, the HHIT itself does not make possible the signature verification, so this should be clarified as well in my opinion.

[2021-07-13 19:36] mglt commented on #18
The text proposed by @cradsw is clear on how we have 25 byte message with a 20 byte RID.

[2021-07-13 19:39] mglt commented on #20
"""A later DRIP doc can do." I think we can remove this.

[2021-07-13 19:48] mglt commented on #21
I am not convinced that 84 bytes is very important not that we used a compressed attestation maybe something like this would be sufficient:

Attestation of the HHIT RID does not use encoding technology like ASN.1 or Concise Binary Object Representation (CBOR {{RFC8949}}) but instead uses a specific format that consists of the concatenation of HHIT, a timestamp, and the EdDSA signature on them.

[2021-07-13 19:51] mglt commented on #22
to me such performance are more related to the rid description than an architecture. The text is nice, but probably not in the proper document - especially if we need to reference the rid document.

[2021-07-13 19:56] mglt commented on #28
At least we need to be very clear that RDAP and DNS are different protocol and hosting different information. This might be complex since RDAP is part of the DNS ecosystem.

[2021-07-13 20:17] mglt commented on #29
I do not see this as a big issue, and arch should define the terms that are used in arch and not already defined in req. I personally do not see req as a terminology document as - until published last - we will unlikely be convinced we have all necessary terms.

[2021-07-13 20:18] mglt commented on #30
+1 maybe in the appendix.

[2021-07-18 23:54] ShuaiZhao commented on #8
implemented based on comments:

[code]

[2021-07-18 23:54] #8 closed

[2021-07-18 23:55] ShuaiZhao commented on #9
closed. no more comments from the mailing list.

[2021-07-18 23:55] #9 closed

[2021-07-18 23:56] ShuaiZhao commented on #10
implemented as following:

`Telemetry (at least UA's position and heading) flows from the UA to the GCS via some path, typically the reverse of the C2 path. Thus, RID information pertaining to both the GCS and the UA can be sent, by whichever has Internet connectivity, to the Net-RID SP, typically the USS managing the UAS operation.
`

[2021-07-18 23:56] #10 closed

[2021-07-18 23:56] ShuaiZhao commented on #11
implemented as following:

`{{F3411-19}} prescribes the protocols between the Net-RID SP, Net-RID DP, and the Discovery and Synchronization Service (DSS).  It also prescribes data elements (in JSON) between Observer and DSS. DRIP addresses standardization of secure protocols between the UA and GCS (over direct wireless and Internet connection), between the UAS and the Net-RID SP, and/or between th

[2021-07-18 23:56] #11 closed

[2021-07-18 23:57] ShuaiZhao commented on #15
confirmed by Bob.  Closed now

[2021-07-18 23:57] #15 closed

[2021-07-18 23:58] ShuaiZhao commented on #18
implemented as following:

`The Broadcast RID data exchange faces extreme challenges due to the limitation of the demanding support for Bluetooth. The ASTM {{F3411-19}} defines the basic RID message which is expected to contain certain RID data and the Authentication message. The Basic RID message has a maximum payload of 25 bytes and only 3 reserved bytes are left unused. currently, the authentic

[2021-07-18 23:58] #18 closed

[2021-07-18 23:59] ShuaiZhao commented on #20
comments from the mailing list that is not necessary to explain the how binding/proxy/translation between the HHIT and X509 since DRIP dont even have a solution on that topic yet.

[2021-07-18 23:59] #20 closed

[2021-07-19 04:58] boucadair commented on #8
Some nits:
* I'm not sure to parse "..RID depends upon internet connectivity to fulfill Observers the RID data query to the NET-RID DP"
* NET_RID_DP and NET_RID_SP not defined in the text. You can use Net-RID SP and Net-RID DP, instead. You can also update the figure
*  s/internet/Internet (2 occurences)
* s/a RF (Radio Frequency) link/an RF (Radio Frequency) link
* s/network RID/Network RID

[2021-07-21 16:09] ShuaiZhao commented on #26
Bob proposed text:

[code]

[2021-07-26 16:22] ShuaiZhao commented on #34
updated reference in -15.

[2021-07-26 16:22] #34 closed

[2021-07-26 16:23] ShuaiZhao commented on #16
improved text below:

[code]

[2021-07-26 16:24] #16 closed

[2021-07-26 16:29] ShuaiZhao commented on #21
detailed discussion in the mailing list, improved text below:

`A self-attestation of the HHIT RID can be done in as little as 84 bytes, by avoiding an explicit encoding technology like ASN.1 or Concise Binary Object Representation (CBOR {{RFC8949}}). This attestation consists of only the HHIT, a timestamp, and the EdDSA signature on them. `

[2021-07-26 16:29] #21 closed

[2021-07-26 16:30] ShuaiZhao commented on #22
agreed to remove crypto-related text in this section, so the following text is removed in -15.

`The HHIT prefix and suiteID provide crypto agility and implicit encoding rules. Similarly, a self-attestation of the Hierarchical registration of the RID (an attestation of a RID third-party registration "certificate") can be done in 200 bytes.  Both these are detailed in UAS RID {{I-D.ietf-drip-rid}}.

[2021-07-26 16:30] #22 closed

[2021-07-26 16:31] ShuaiZhao commented on #25
the improved text below:

`The HITs is designed statistically unique through the cryptographic hash feature of second-preimage resistance. The cryptographically-bound addition of the Hierarchy and an HHIT registration process (e.g. based on Extensible Provisioning Protocol, {{RFC5730}}) provide complete, global HHIT uniqueness. This registration forces the attacker to generate the same public key

[2021-07-26 16:31] #25 closed

[2021-07-26 16:32] #26 closed

[2021-07-26 16:33] ShuaiZhao commented on #26
above text was implemented in -15

[2021-07-26 16:35] ShuaiZhao commented on #27
updated text in section 4.3.

[code]

[2021-07-26 16:35] #27 closed

[2021-07-26 16:35] ShuaiZhao commented on #28
this has been addressed based on newly updated text for section 4.3.

[code]

[2021-07-26 16:35] #28 closed

[2021-07-26 16:36] ShuaiZhao commented on #29
done in -15

[code]

[2021-07-26 16:36] #29 closed

[2021-07-26 16:37] ShuaiZhao commented on #30
not sure this is all, but see the below updated text:

[code]

[2021-07-26 16:37] #30 closed

[2021-07-26 16:37] ShuaiZhao commented on #31
rewrite/reorganized section 4.1,4.2,4.3 in -15

[2021-07-26 16:37] #31 closed

[2021-07-26 16:38] ShuaiZhao commented on #32
Bob proposed the following to address Stu's comment:
[code]

[2021-07-26 16:40] #32 closed

[2022-03-25 13:51] boucadair opened #36 "Cite NPA"
Consider adding a pointer to https://www.easa.europa.eu/document-library/notices-of-proposed-amendment/npa-2021-14

[2022-03-25 13:58] boucadair opened #37 "Prefix FAA with US"
Please use US FAA through the document.

[2022-03-26 09:22] ghost commented on #36
That document refers to https://eur-lex.europa.eu/legal-content/EN/TXT/?uri=CELEX%3A32021R0664 which is more concerned with broadcast and network identifiers.

[2022-03-28 07:29] boucadair opened #38 "IoT Directorate Review"
From Thomas Fossati:

[code]

[2022-03-28 18:13] ShuaiZhao opened #39 "Remove IANA section"
(BEGIN IANA COMMENTS)

IESG/Authors/WG Chairs:

The IANA Functions Operator has reviewed draft-ietf-drip-arch-22, which is currently in Last Call, and has the following comments:

We understand that this document doesn't require any registry actions.

While it's often helpful for a document's IANA Considerations section to remain in place upon publication even if there are no actions, if the autho

[2022-03-30 13:55] boucadair opened #40 "secdir review (Valery Smyslov)"
Reviewer: Valery Smyslov
Review result: Has Issues

The topic of the draft is complex and involves many fields which I'm not expert of. The overall architecture looks secure, however it's difficult for me to analyse all the details. Nevertheless, it seems to me that there are some security issues with the draft.

1. Section 3.2

   A UA equipped for Broadcast RID SHOULD be provisioned not only wit

[2022-04-05 15:07] boucadair opened #41 "genart review (Roni Even)"
Reviewer: Roni Even
Review result: Ready

I am the assigned Gen-ART reviewer for this draft. The General Area Review Team (Gen-ART) reviews all IETF documents being processed by the IESG for the IETF Chair.  Please treat these comments just like any other last call comments.

For more information, please see the FAQ at

<https://trac.ietf.org/trac/gen/wiki/GenArtfaq>.

Document: draft-ietf-drip-ar

[2022-04-05 15:08] boucadair opened #42 "tsvart review (Kyle Rose)"
Reviewer: Kyle Rose
Review result: Ready

This document has been reviewed as part of the transport area review team's ongoing effort to review key IETF documents. These comments were written primarily for the transport area directors, but are copied to the document's authors and WG to allow them to address any issues raised and also to the IETF discussion list for information.

When done at the ti

[2022-04-21 01:24] ShuaiZhao commented on #42
From Eric

[code]

[2022-04-21 01:25] ShuaiZhao commented on #42
Kyle Reply

On Wed, Apr 6, 2022 at 12:03 PM Eric Vyncke (evyncke) <[evyncke@cisco.com](mailto:evyncke@cisco.com)> wrote:
First, thank you for your technical review on this document. The more eyes on a document, the better the result.

And thank you for the reply!

 Understood and stipulated. I'm explicitly second-guessing IETF consensus on this one from the vantage point of hypotheticals such as "

[2022-04-21 01:29] ShuaiZhao commented on #39
IANA will be removed in 23 revision

[2022-04-21 01:45] ShuaiZhao commented on #37
Do we need to prefix "US" in all FAA occurrences? Maybe just at the beginning of this doc when section 1.1 first introduces FAA?

to
US Federal Aviation Administration (FAA)

[2022-04-21 01:49] ShuaiZhao commented on #40
current proposed solution
**To Q1:**

Solution: change first SHOULD to MUST in section 3.2

**To Q2:**

Bob: Since these are raw keys, revocation is not directly possible.  The
drip-registry draft may evolve various methodologies for providing
revocation information.  At this writing, we would be really
speculating.  Perhaps, black-holing in DNS; if a DET has been revoked, a
DNSSEC protected respo

[2022-04-21 02:08] ShuaiZhao commented on #38
Shuai/ opt with AAA+, any suggestions from authors?

Shuai/ I would suggest we don't remove that. I recall that were discussions to add those terms in section 2.1 during WGLC

Shuai/ @cardsw, which Bluetooth version do we opt to? And is that necessary to add reference?

[2022-04-21 09:37] boucadair commented on #37
Works for me unless @evyncke has a preference.

[2022-04-21 09:40] boucadair commented on #38
I suggest we leave AAA to be consistent with RFC9153.

[2022-04-21 09:41] boucadair commented on #38
Agree

[2022-04-21 09:48] evyncke commented on #37
This works for me as well

[2022-04-21 16:21] ShuaiZhao commented on #38
@cardsw Would you please give suggestions on the following issue?

[2022-04-21 16:22] #42 closed

[2022-04-21 16:23] #39 closed

[2022-04-21 16:23] ShuaiZhao commented on #37
Agreed on adding Prefix "USA" in section 1.1 only.

[2022-04-21 16:26] ShuaiZhao commented on #40
@rgmhtt  Q5 has been ignored. Please address it.

[2022-04-21 17:03] ShuaiZhao commented on #36
Updated text:

European Union Aviation Safety Agency (EASA)

      The EASA published a [Delegated] regulation in 2019 imposing
      requirements on UAS manufacturers and third-country operators,
      including but not limited to UAS RID requirements.

added reference:

[2022-04-21 17:07] #37 closed

[2022-04-21 17:07] #36 closed

[2022-04-25 01:05] rgmhtt commented on #40
You mean from Valery?  I was hoping Stu would handle it.  He is
swamped.  I will take care of it.

If you do mean his Q5...

Bob

On 4/21/22 12:27, Shuai Zhao wrote:

[2022-04-25 02:02] rgmhtt commented on #41
Although Gen-7 and Gen-10 are important, they have not been work on for the current architecture.  They will come in on Network Remote ID that is only now being framed.  It will take some work still for them.  Thus 9153 is a placeholder of sorts and somehow they need to be dealt with.

Thus the current architecture is quiet on them.

[2022-04-25 12:35] rgmhtt commented on #38
WRT to use of EdDSA:  Only EdDSA provides 32 byte public keys.  This is essential in the Authentication Messages defined in draft-ietf-drip-auth.  With ECDSA, you have to use public key compression to get 32 byte keys which then poises the issue with patents.

Thus EdDSA is the 1st defined PK algorithm.  There may be more down the road of deployment.  Experience will drive this.

Also at some futu

[2022-04-25 12:41] rgmhtt commented on #38
"This is a question more than anything else: given the constrained
  nature of UAs, I was wondering whether it is envisaged that the
  end-to-end network path will be realised with the use of more capable
  (trusted) proxy nodes?  If so, there may be a few security and privacy
  considerations to be added."

This only comes into play with Network Remote ID and Command and Control.  The first draft

[2022-04-25 12:46] rgmhtt commented on #38
"It'd seem that, given the very low bandwidth, DoS (as well as Denial
  of View) attacks on communication involving the UA should be quite
  easy to mount?  Maybe worth spending some words on the argument
  to describe what the threats are and which mitigations are available."

The USA FAA and other CAAs have mandated Broadcast RID over Bluetooth and WiFi.  Any DOS attacks against these RF are bas

[2022-04-25 12:49] rgmhtt commented on #38
"Shuai/ @cardsw, which Bluetooth version do we opt to? And is that necessary to add reference?"

@kc2rxo needs to jump in here, but I believe that ASTM says to send both BT4 and BT5 from the UA.  Not one or the other.

[2022-04-25 14:33] rgmhtt commented on #38
Another point on DOS question.

We did not put DOS discussion into the architecture by intent.  With RF it just is there.  But in the solution documents we specifically deal with it.  Particularly in draft-ietf-drip-auth where the Introduction uses the term "volatile environment" to be more inclusive than just looking a DOS.  We added a FEC solution for BT4 as unlike BT5 and WiFi, it does not have

[2022-04-25 17:23] ShuaiZhao commented on #40
Bob To Q5:

I don't know if I should reply to this one on github as my answer is a bit involved.

In Security Considerations.  Make para 2 the 1st para:

Then a subsection:

[2022-04-25 19:18] kc2rxo commented on #38
Jumping in as asked on the Bluetooth versioning.

ASTM defines that when doing Bluetooth you MUST be doing both Bluetooth 4 and Bluetooth 5.

I got into the habit of writing it like "Bluetooth 4.x" and "Bluetooth 5.x" to signal that any current or new version of Bluetooth in those areas would be acceptable. For example Bluetooth 5.1 already exists (though I don't know the differences between it an

[2022-05-11 23:26] ShuaiZhao commented on #41
Stu:

that GEN-7 and GEN-10 may be conspicuous by their absence from the
architecture document.

primarily on implementations of UAS RID senders that requires no
explicit architectural support. For example: CAAs may require a minimum
rate at which RID information is refreshed; in any sender implementation
intended for use in multiple jurisdictions (or on multiple classes of
aircraft) with differen

[2022-05-11 23:26] ShuaiZhao commented on #41
Roni:

Thanks for the clarification. I think it may be good to reflect your response in the document for completeness.
Roni

[2022-05-11 23:29] ShuaiZhao commented on #41
Shuai:

[2022-05-12 00:11] ShuaiZhao opened #43 "Stu's comments"
My previously raised issues still need attention as follows.

1.1 last paragraph "UAS RID" should be used only to refer to the need, process and system, not the identifier.
Shuai: Please replace "The UAS RID discussed in Section 3" with "The DRIP Entity Tag discussed in Section 3".

3.2 "(more details in Section 8)" is no longer accurate as security considerations have been reworded so specific vu

[2022-05-12 11:08] thomas-fossati commented on #38
Just noting that the [HP patent](https://patents.google.com/patent/US6252960) on point compression expired 4 years ago.  Are you referring to something else?

[2022-05-12 11:11] thomas-fossati commented on #38
Agree.  I guess what I was after is to state the size requirement more clearly and to give EdDSA as an example that satisfies the requirement.

[2022-05-12 11:17] thomas-fossati commented on #38
This is excellent.  I suggest adding it to the document to provide a (great) rationale for de-scoping.

[2022-05-12 11:57] rgmhtt commented on #38
On 5/12/22 07:08, Thomas Fossati wrote:

The Certicom patents?

And I did loose track of the patent dates.  Someone else pointed this
out to me. But I began this process 4 years ago when I selected EdDSA.

[2022-05-12 11:59] rgmhtt commented on #38
On 5/12/22 07:11, Thomas Fossati wrote:

I am also following closely the NIST Lightweight Crypto work, and this
may well give an alternative to cSHAKE128.  It would be nice, if NIST
used the LWC hash in FIPS 186-5 which has been in draft status for
years.  Then we could probably eliminate SHA2 code from many devices...

[2022-05-12 12:34] thomas-fossati commented on #38
To my knowledge they have all expired -- more or less recently.

(For a list of known filings and the associated expiry dates see also [this](https://en.wikipedia.org/wiki/ECC_patents#Known_patents).)

[2022-05-12 12:37] thomas-fossati commented on #38
Me too :-) and, as you, I also am hopeful that some good alternative can come out of that.

[2022-05-12 12:53] rgmhtt commented on #38
On 5/12/22 08:37, Thomas Fossati wrote:

See draft-moskowitz-hip-new-crypto where I 'jumped the gun' with
Xoodyak.  I worked closely with Team Keccak to get the Cyclist calls
right.  It is implemented in OpenHIP by Dr. Gurtov's students.

Had some interesting sidebar chats during the LWC workshop this week. 
Simple use of Cyclist addresses attacks that some finalists claim they
are the only ones s

[2022-05-31 23:11] ShuaiZhao commented on #41
Bob:

[2022-05-31 23:11] ShuaiZhao commented on #41
Stu:

[2022-06-07 17:17] ShuaiZhao commented on #41
Bob proposed new Text in section 6

original
[code]
new text
[code]

I don't see how this can satisfy GEN-7.  I think that I MAY be able to include it in nrid...

[2022-06-07 17:45] ShuaiZhao commented on #40
Summary:

Q1: change First SHOULD to MUST. See the Above explanation.
Q2: Nothing to update. See the Above explanation.
Q3: Nothing to update. See the Above explanation.
Q4: added a new subsection "8.2.  Post Quantum Computing out of scope"
Q5: added a new subsection "8.1.  Private key physical security"
Q6: Out of scope. Nothing to do here

[2022-06-07 17:55] ShuaiZhao commented on #43
Stu:

Shuai/ Done

[2022-06-07 17:59] ShuaiZhao commented on #43
Stu:

Done

[2022-06-07 18:15] ShuaiZhao commented on #43
Stu:

Shuai/ both places are updated

[2022-06-07 18:17] ShuaiZhao commented on #43
Stu:

Shuai/ Bob has proposed new text in new subsection "8.1.  Private key physical security" and it was solved.

[2022-06-07 18:19] ShuaiZhao commented on #43
Stu:

Shuai/ I agree. there are places where they were addressed already based on the IESG review. Are there any other places you think we need to address? I recalled AD and Chairs rely on authors to make a correct choice since it is an informative draft.

[2022-06-07 18:35] ShuaiZhao commented on #38
summary:

Shuai/ Current text is clear enough. agreed on nothing to be updated.

Shuai/ out of scope. agreed on nothing to be updated.

Shuai/ Bob proposed the following text under section 3.2

**Ed25519 {{RFC8032}} is used as the HHIT signing algorithm as {{RFC9153}} GEN-1 and ID-5 can best be met by restricting the HI to 32 bytes. A larger public key would rule out the offline attestation featur

[2022-06-07 20:06] #41 closed

[2022-06-09 00:35] cardsw commented on #43
Thanks.

--
Stuart W. Card, VP & Chief Scientist
Critical Technologies Inc. (CTI)
***@***.***>

[2022-06-09 00:36] cardsw commented on #43
Thanks.

--
Stuart W. Card, VP & Chief Scientist
Critical Technologies Inc. (CTI)
***@***.***>

[2022-06-09 00:36] cardsw commented on #43
Thanks.

--
Stuart W. Card, VP & Chief Scientist
Critical Technologies Inc. (CTI)
***@***.***>

[2022-06-09 00:38] cardsw commented on #43
I will scan all occurrences of such keywords on your latest (-23?) &
identify any that seem too weak (or too strong).

--
Stuart W. Card, VP & Chief Scientist
Critical Technologies Inc. (CTI)
***@***.***>

[2022-06-09 00:40] cardsw commented on #43
Thanks!

--
Stuart W. Card, VP & Chief Scientist
Critical Technologies Inc. (CTI)
***@***.***>

[2022-06-10 10:08] boucadair commented on #38
I tend to leave the current text as it is.

The current text is clear enough this is about a DRIP definition, and that the term should be interpreted as defined here.

[code]

I checked RATS arch I-D but I failed to find a formal def there. I found one in draft-ietf-rats-tpm-based-network-device-attest, though:

[code]

[2022-06-10 10:11] boucadair commented on #38
This is definitely out of the scope of DRIP.

[2022-06-10 16:59] #40 closed

[2022-06-10 16:59] #43 closed

[2022-06-10 18:00] ShuaiZhao commented on #38
Thanks for confirmation.

[2022-06-10 18:00] ShuaiZhao commented on #38
agreed. Thanks for confirmation

[2022-06-10 18:20] #38 closed

[2022-06-10 18:28] kc2rxo commented on #38
While I believe this is out of scope for DRIP in the current charter I strongly believe this is something we would want to recharter for (I already know of one group that would be strongly interested in such a thing).

[2022-06-29 14:37] boucadair opened #44 "Dave Thaler's review"
For point (3), I do still think that both I-D.ietf-drip-registries and -auth are informative.

I suggest to make the following changes to make things clear:

(1)

Update the terminology to indicate that "DRIP registries" is used to refer to the registries in Section 4.4 of [RFC9153].

Also, update that section to introduce "Broadcast Attestations"

(2)

[code]
(3)

[code]

(4)

[code]

[2022-06-30 05:30] boucadair opened #45 "Nits from John Scudder"

[2022-06-30 15:14] ShuaiZhao opened #46 "Robert Wilton: Nit"
Rob: This is somewhat outside my area, and this is a minor comment, but I have to
confess that I found it slightly harder to read, I think because it is fairly
acronym heavy, and I wonder whether expanding out some of the less frequently
used acronyms may end up making the document slightly more readable and
approachable.

[2022-06-30 15:14] ShuaiZhao opened #47 "Murray Kucherawy"
Murray:

I'm a little concerned at the shepherd writeup, which claims the bulk of the
review is being done by the co-authors and the chairs.  Where's the rest of the
working group?  And given the content of Section 4.2.2, has anyone from REGEXT
looked at this?

Also, question #8 on the writeup was not answered, although it's possible it
was folded into the answer for #7.  This should be clarified

[2022-06-30 15:16] ShuaiZhao opened #48 "Zaheduzzaman Sarker"
Zahed:

Thanks for working on this documentation. Special thanks to Kyle Rose for the
TSVART review. Like Kyle I haven't picked up any TSV related issues. However, I
have some comments which I believe will improve the document if addressed. See
below --

- Section 1.1 : would be great to point to the 3GPP TR or TS for release 17 as
well. An elaboration on how the UAS RID may be used as 3GPP CAA-le

[2022-06-30 15:23] ShuaiZhao opened #49 "Warren Kumari"
Thank you for writing this; I find "architecture" and "use-case" documents to
be really helpful to understand how things are supposed to work, to get a "lay
of the land", how various components are supposed to fit together, etc -- so,
thank you for writing this.

Roman's security review is, as usual, very thorough -- I did have a few
additional security thoughts / questions which I'm suspecting ma

[2022-06-30 15:24] ShuaiZhao opened #50 "Erik Kline"
## Nits

### Appendix B

* Consider: "manned aviation" -> "crewed aviation", or some similar construct

[2022-06-30 15:25] ShuaiZhao opened #51 "Roman Danyliw"
Discussion points:

** Definition of a HHIT.

Various security claims are made about the HHIT down to specifying cryptographic algorithms and resistance to attacks.  However, this document provides inconsistent and vague definitions for a HHIT.  Surprisingly, it doesn’t cite draft-ietf-drip-rid.  It is difficult to assess these claims given the lack of information on a HHIT.  I would have expected

[2022-06-30 19:53] ShuaiZhao commented on #44
Dave Thaler:

1. I found the discussion of time to be a bit lacking and would like to see it
clarified.  Specifically, section 3.2 talks about attestation including a
timestamp, though it is unclear to me what requirements this places on the UA
for having a trusted source of time, such as a local clock. Section 8.2 says
"UAs and Broadcast Remote ID communications are so constrained that current
po

[2022-07-06 06:26] boucadair commented on #50
We have already discussed this one during RFC9153. The decision at that time is to not change the terminology.

[2022-07-11 07:02] boucadair commented on #45
Fixed: [3d7588f](https://github.com/ietf-wg-drip/draft-ietf-drip-arch/commit/3d7588f50f54e003588b8296c5ae5556a86d4be8)

[2022-07-11 07:24] boucadair commented on #46
Made some few changes but all acronyms seem to be adequately expanded. See https://github.com/ietf-wg-drip/draft-ietf-drip-arch/commit/c2ad8eb9809915edcc3ae345d11097619c09f953

[2022-07-11 23:21] kc2rxo commented on #51
I have attempted to rectify the Section 6 comment on CS-RID in #53.